<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Assignment-Mapper">

<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'			
		</if>
	</sql>


	<select id="selectList" resultType="assignment" parameterType="criLec">
		select ASS_BNO,LEC_CD,TITLE,CREATE_DATE,DUE_DATE,EVAL_RATE,CONTENT,ANO_CD
		from assignment
		where lec_cd = #{lecCd}
		<include refid="search" />	
		order by CREATE_DATE desc
	</select>
	
	<select id="selectCount" resultType="int" parameterType="criLec">
		select count(*) from assignment
		where lec_cd = #{lecCd}
		<include refid="search" />
	</select>
	
	<select id="selectDetail" resultType="assignment" parameterType="assignment">
		select ASS_BNO,LEC_CD,TITLE,CREATE_DATE,DUE_DATE,EVAL_RATE,CONTENT,ANO_CD from assignment
		where ASS_BNO = #{assBno}
	</select>
	
	<select id="selectDetailByAssBno" resultType="assignment" parameterType="int">
		select ASS_BNO,LEC_CD,TITLE,CREATE_DATE,DUE_DATE,EVAL_RATE,CONTENT,ANO_CD from assignment
		where ASS_BNO = #{assBno}
	</select>
	<select id="assBnoSeqNextVal" resultType="int">
		select ASS_BNO.nextval from dual
	</select>
	
	<insert id="insertAssignment" parameterType="assignment">
		insert into assignment(ASS_BNO,LEC_CD,TITLE,CREATE_DATE,DUE_DATE,EVAL_RATE,CONTENT,ANO_CD)
		values(#{assBno},#{lecCd},#{title},#{createDate},#{dueDate},#{evalRate},#{content},#{anoCd})
	</insert>
	
	<insert id="deleteAssignment" parameterType="int">
		delete from assignment where ass_bno = #{assBno}
	</insert>
	
</mapper>