<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Lec-Mapper">

	<select id="selectEvalList" parameterType="str" resultType="lec">
		select name,comm_cd_func('lecCategoryCd',lec_category_cd) as lec_category_cd,credit,subj_name,eval_status_cd,lec_cd
		from lec_manage a, syllabus b, lec c, prof d
		where a.subj_cd=b.subj_cd
		and b.syl_cd=c.lec_cd
		and c.stu_cd=#{stuCd}
		and b.prof_id=d.prof_cd
		and c.lec_cd in (select lec_cd from lec
		where stu_cd=#{stuCd}
		and mylec_status_cd='s')
		order by lec_cd

	</select>
	<select id="selectAppliedList" parameterType="lec" resultType="lec">
		select
	    l.lec_cd,
	      nvl((select col_name
	         from college
	         where col_cd = (select college_cd
	                          from major
	                         where major_cd=lm.major_cd)),' ') as col_name,
	      nvl((select major_name
	         from major
	         where major_cd=lm.major_cd),' ') as major_name,
	      nvl((select comm_cd_name
	         from comm_cd
	         where comm_cd_gr='geCd'
	           and comm_cd_val=lm.ge_cd),' ') as ge_cd,
	      (select comm_cd_name
	         from comm_cd
	         where comm_cd_gr='targetGrade'
	          and comm_cd_val = target_grade) as target_grade,
	      S.max_stu_num,
	      L.stu_num,
	      S.lec_date_1,
	      nvl(S.lec_date_2,' ') as lec_date_2,
	      S.classroom,
	      credit,
          subj_name,
	      (select name from prof where prof_cd=S.prof_id) as prof_name
		 from syllabus S, lec_open L,lec_manage lm, lec le
		 where S.syl_cd = L.lec_cd
		 and lm.subj_cd=S.subj_cd
         and L.lec_cd = le.lec_cd
		 and le.stu_cd = #{stuCd}
		 and le.mylec_status_cd = 's'
		 and le.GRADE_SEME_CD = #{gradeSemeCd}
		 order by cdate asc
	</select>
	
	<select id="selectLecListByLecCd" resultType="lec">
		select *
		from lec
		where lec_cd = #{lecCd}
	</select>
	
	<select id="selectStuCdListByLecCd" resultType="str">
		select stu_cd
		from lec
		where lec_cd = #{lecCd}
		and mylec_status_cd = 's'
	</select>
	
	<insert id="insertLecList" parameterType="lec">
	insert into lec(stu_cd,lec_cd,final_marks,mylec_status_cd,grade_seme_cd,eval_subj_content,cdate) values(#{stuCd},#{lecCd},0,'s',#{gradeSemeCd},null,sysdate)
	</insert>
	<delete id="deleteLecList" parameterType="lec">
	delete from lec where stu_cd = #{stuCd} and lec_cd = #{lecCd} and grade_seme_cd = #{gradeSemeCd}
	</delete>
	
	<select id="selectLecListByStuCd" parameterType="lec" resultType="mylecture">
	select c.name,lec_date_1,lec_date_2,b.subj_cd,email_addr,lec_cd,(select subj_name
	                                                         from lec_manage
	                                                         where subj_cd=b.subj_cd) as subj_name,classroom,ano_cd, comm_cd_func('lecCategoryCd',d.lec_category_cd) as lec_category_cd,
	                                                         MAX_STU_NUM,lec_hour,credit,comm_cd_func('geCd',ge_cd) as ge_cd
	  from lec a,syllabus b,prof c, lec_manage d
	where b.syl_cd=a.lec_cd
	and b.prof_id=c.prof_cd
	and d.subj_cd=b.subj_cd
	and stu_cd=#{stuCd}
	and seme_cd=#{semeCd}
	and mylec_status_cd='s'
	
	</select>
	
	<select id="selectLecCdListByStuCd" parameterType="str" resultType="str">
	select lec_cd from lec 
	where stu_cd=#{stuCd}
	and grade_seme_cd=(select '0'||grade||'0'||stu_semester from student where stu_cd=#{stuCd})
	order by lec_cd
	</select>
	
	<select id="selectBoardLecNoticeListByLecCd" parameterType="str" resultType="lecNotice">
		select * from (select lec_notice_no,lec_cd,(select subj_name from lec_manage where subj_cd=(select subj_cd from syllabus where syl_cd=lec_cd)) as subj_name,cdate,content,title,view_cnt,ano_cd
		from lec_notice
		where lec_cd=#{lecCd}
		order by cdate desc)
		where rownum in (1,2)
	</select>
	
	
	<select id="selectEvalFormList" resultType="lecEvalItems">
	select ev_item_no, content, comm_cd_func('evalQueCd',eval_que_cd)as eval_que_cd, eval_que_cd as origin_eval_cd from lec_eval_items
    order by ev_item_no
	</select>
	
	
</mapper>