<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="StuSupport-Mapper">

	<select id="selectSurveyForm"  resultType="surveyForm">
		select *
		from SURVEY_FORM
	</select>
	<select id="selectScriptList" resultType="string">
		select script_content from interview_script where class_cd='voice'
	</select>
	<select id="selectFaceScript" resultType="string">
		select script_content from interview_script where class_cd='face'
	</select>
	<insert id="registSurvey" parameterType="surveyCommand">
		insert into survey_answer
		values(#{stuCd},#{surveyNo},#{response})
	</insert>
	<select id="selectSurveyByStuCd" parameterType="student" resultType="surveyCommand">
		select STU_CD, SURVEY_NO, RESPONSE from survey_answer
		where stu_cd=#{stuCd}
		order by survey_no
	</select>
	<update id="updateSurvey" parameterType="surveyCommand">
		update survey_answer
		set response=#{response}
		where stu_cd=#{stuCd}
		and survey_no=#{surveyNo}
	</update>
	
</mapper>